.topnav {
    background-color: #e63946;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
}

.topnav a:hover {
  background-color: #495cd5;
  color: white;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    font-size: 50px;
    margin: 0;
}

.main .start-btn, .start-btn2, .start-btn3 {
    background: #e63946;
    display: flex;
    color: #fff;
    padding: 8px 32px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.container{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 50%;
}
  
.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 5s steps(30, end) infinite, blink-caret 1s step-end infinite;
}
    
@keyframes typing {
    0% { width: 0 }
    50% { width: 105% }
}
  
@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
}

  
